{
  	"presets": ["stage-3","env"],
  	"plugins": [
  		"transform-async-to-generator",
        "transform-es2015-modules-commonjs",
        "transform-export-extensions",
        "transform-runtime"
    ]
}